body {
  /* #dcdcdc, #FFDCD2, #d2e6f0 */
  background-color: #ffdcd2;

  border: 30px solid white;

  font-family: "Apercu Regular", Apercu, Calibri, sans-serif; font-weight:regular; font-style:normal;
  font-size: 13px;
  min-height: 100%;

  background-image: url("../img/retune.png");
  background-position: center center;
  background-repeat: no-repeat;

  color: #333;
}

#content {
  /*height: 100%;*/
}

#events {
  padding: 20px;
  max-width: 450px;
}

#events em{
  font-size: 11px;
  margin-right: 10px;
}

h1 {  
  position: absolute;
  top:50%;
  left: 50%;
  font-family: "Apercu Regular", Apercu, Calibri, sans-serif; font-weight:bold; font-style:normal;
}

h1 img{
  margin-top: -306px;
  margin-left: -300px;
  z-index: 0;
}

h1 strong {
  display:none;
}

h2 {
  font-size: 14px;
  text-decoration: underline;
  margin-top: 30px;
}

h3 {
  font-size: 13px;

}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li{
}

a {
  color: #0000ff;
}

a:hover{
  text-decoration: underline;
  color: #0000ff;
}

footer{
  position: fixed;
  bottom: 5px;
  height: 20px;
  background-color: white;
  width: 100%;
}  